:root {
	/* Font families */
	--ff-site-name: "Heebo", sans-serif;
	--ff-main: "Poppins", sans-serif;
	--ff-attribution: "Montserrat", sans-serif;

	/* Colors */
	--black: #000000;
	--white: #ffffff;
	--dark-grey: #333333;
	--grey: #4f4f4f;
	--light-grey: #828282;
	--input-color: #bdbdbd;
	--input-background: #f2f2f2;
	--button-color: #e0e0e0;
	--blue-highlight: #2d9cdb;
	--red-highlight: #eb5757;
	--green-highlight: #27ae60;
	--attribution: #a9a9a9;
	--footer-background: #100e1d;

	/* Box-shadow */
	--card-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	/* Set font size to 10px for easier conversion to rem and em values  */
	font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
	padding: 0;
	margin: 0;
}

body,
a,
li,
ul,
p {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
	display: block;
	height: auto;
}

body {
	font-family: var(--ff-main);
	color: var(--grey);
	font-weight: 400;
}

h1 {
	font-weight: 500;
	font-size: 2.4rem;
	color: var(--dark-grey);
	width: 90%;
	line-height: 1.4;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 2.4rem;
	color: var(--dark-grey);
	font-weight: 500;
	line-height: 1.4;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.container--narrow {
	width: 80%;
	margin: 0 auto;
}

.navbar {
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-name {
	font-family: var(--ff-site-name);
	font-weight: 800;
	font-size: 2.4rem;
	color: var(--dark-grey);
}

.navbar__desktops {
	display: none;
}

.navbar__hamburger__item {
	width: 18px;
	height: 3px;
	background-color: var(--black);
	margin-bottom: 0.2em;
}

.navbar__hamburger__item:last-of-type {
	margin-bottom: 0;
}

.site-header {
	margin-top: 3em;
}

.site-header__text {
	font-size: 1.2rem;
	line-height: 1.5;
}

.site-header__text--highlight {
	font-weight: 500;
	color: var(--blue-highlight);
	margin-bottom: 0.5em;
}

.site-header__image {
	border-radius: 18px;
	overflow: hidden;
}

.site-header__sub-heading {
	width: 70%;

	padding: 1em 0;
}

form {
	margin-top: 2em;
}

.form-container {
	position: relative;
}

.form-input {
	background: var(--input-background);
	border: none;
	border-radius: 12px;
	font-size: 1.4rem;
	font-weight: 500;
	padding: 1em 1.5em;
	color: var(--input-color);
	width: 100%;
}

.form-input__label {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	color: var(--light-grey);
	margin-bottom: 1em;
}

.btn {
	display: block;
	background: var(--button-color);
	border-radius: 12px;
	border: none;
	color: var(--light-grey);
	font-weight: 500;
	font-size: 1.4rem;
	padding: 1em 1em;
	cursor: pointer;
}

.btn--blue {
	background: var(--blue-highlight);
	color: var(--white);
}

.btn--form {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0.6em 1.5em;
}

.services {
	margin-top: 10.2em;
}

.services__sub-heading {
	width: 80%;
	margin-bottom: 2em;
}

.card {
	padding: 5em 3.4em;
	margin-bottom: 8.6em;
	border-radius: 24px;
	max-width: 340px;
}

.card--featured {
	box-shadow: var(--card-shadow);
}

.card__title {
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--dark-grey);
	margin-bottom: 1em;
}

.card__description {
	font-size: 1.6rem;
	padding-bottom: 2em;
	line-height: 1.5;
}

.icon {
	width: 67px;
	height: 67px;
	background: var(--blue-highlight);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	margin-bottom: 3.5em;
}

.icon--green {
	background: var(--green-highlight);
}

.icon--red {
	background: var(--red-highlight);
}

.material-icons {
	color: var(--white);
	font-size: 3.6rem;
}
